body{
    background: linear-gradient(100deg,rgb(67, 196, 219),rgb(238, 164, 213));
    
}

#firstDiv{
    width: 97%;
    height: 70px;
    background:linear-gradient(30deg,rgb(226, 70, 174),rgb(37, 190, 218));
    text-align : center;
    
}
nav{
    display: inline-block;
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    background:linear-gradient(25deg,rgb(28, 92, 52),rgb(32, 130, 187));
}
#vehType,#repobtn,#addVeh{
    background: linear-gradient(56deg, rgb(123, 221, 120),rgb(193, 193, 206));
}
#typeDiv{
    color:blue;
}